<div class="row">
    <div class="col-md-12">
        <a href="#/">Home</a> > Search results
    </div>
</div>

<auction-advanced-search></auction-advanced-search>

<hr/>

<div class="row">
    <!-- Featured Products list with thumbnails and description  -->

        <div class="col-md-6" ng-repeat="product in model.searchResults">
            <div class="row">
                <div class="col-md-6">
                    <a ng-href="#/product/{{ product.id }}"><img ng-src="{{ product.thumb }}" alt="" class="img-responsive"></a>
                </div>

                <div class="col-md-6">
                    <h2><a ng-href="#/product/{{ product.id }}">{{ product.title }}</a></h2>
                    <p>
                        <b>Item's description:</b> {{ product.description }}.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ product.timeLeft}}h left<br/>
                    Today 15:23
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-eye-open"></span> {{ product.watchers }}<br/>
                    Watchers
                </div>
                <div class="col-md-4">
                    {{ product.price | currency }}<br/>
                    Current Price
                </div>
            </div>
        </div>

    <!-- / Featured Products list with thumbnails and description  -->
</div>
