<div class="row">
    <div class="col-md-12">
        <a href="#/">Home</a> > Search results
    </div>
</div>

<form>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="input-product-title">Product</label>
                <input type="text" placeholder="Product title" id="input-product-title" class="form-control"/>
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option>Category</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="input-price-from">Current Price</label><br/>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" value="$1500" id="input-price-from" class="form-control"/>
                    </div>
                    <div class="col-md-6">
                        <input type="text" value="$3500" id="input-price-to" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <input type="text" class="form-control slider" data-slider-min="0" data-slider-max="5000"
                       data-slider-step="100" data-slider-value="[1500, 3500]" data-slider-handle="triangle"
                       data-slider-selection="none"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="input-close-date">Max Auction Close Date</label>
                <div class="input-group">
                    <input type="text" id="input-close-date" class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="input-number-of-bids" class="col-md-8 control-label">Number of Bids</label>
                    <div class="col-md-4">
                        <input type="text" id="input-number-of-bids" value="3" class="form-control"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button class="form-control btn btn-primary">Find now</button>
            </div>
        </div>
    </div>
</form>

<hr/>

<div class="row">
    <!-- Featured Products list with thumbnails and description  -->

        <div class="col-md-6" ng-repeat="product in model.searchResults">
            <div class="row">
                <div class="col-md-6">
                    <a href="javascript:void(0)"><img ng-src="{{ product.thumb }}" alt="" class="img-responsive"></a>
                </div>

                <div class="col-md-6">
                    <h2><a href="javascript:void(0)">{{ product.title }}</a></h2>
                    <p>
                        <b>Item's description:</b>{{ product.description }}.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ product.timeLeft}}h left<br/>
                    Today 15:23
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-eye-open"></span> {{ product.watchers }}<br/>
                    Watchers
                </div>
                <div class="col-md-4">
                    {{ product.price | currency }}<br/>
                    Current Price
                </div>
            </div>
        </div>

    <!-- / Featured Products list with thumbnails and description  -->
</div>
